flask
langchain
flask-wtf
flask-bootstrap
pypdf
langgraph
pytest
boto3
langchain-community
langchain_ollama
filetype
pypdf2
pytesseract
fpdf
pillow
pdf2image
poppler-utils
transformers
torch
logging
qdrant-client
sentence-transformers